/*Global*/
:root {
  --color-grey: #eceff1;
  --color-base-text: #8eacbb;
  --color-hlgt-text: #34515e;
  --color-hlgt2-text: #00bcd4;
  --color-black: #4d4d4d;
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;

  --font-large: 40px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
  color: var(--color-black);
}

a {
  font-size: var(--font-medium);
  text-decoration: none;
  color: var(--color-base-text);
}

ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

#navbar img {
  width: 30px;
  line-height: 30px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-base-text);
  padding: 20px 50px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar_menu_item {
  padding: 4px 10px;
  margin: 0 4px;
  cursor: pointer;
}

.navbar_menu_item.active {
  color: var(--color-hlgt-text);
  font-weight: var(--weight-semi-bold);
}

.navbar_menu_item:hover {
  color: var(--color-hlgt-text);
  font-weight: var(--weight-semi-bold);
  border-bottom: 3px solid var(--color-hlgt2-text);
}

#navbar,
#home {
  background: url("images/home-background.png") center/cover no-repeat;
}

#home {
  display: flex;
  padding: 50px;
  text-align: center;
  justify-content: center;
}

.home__avatar {
  width: 200px;
  height: fit-content;
  border-radius: 20px;
}

#home__inform {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-left: 50px;
  line-height: 250%;
}

.home__contact {
  font-size: var(--font-micro);
  background-color: var(--color-hlgt2-text);
  color: var(--color-grey);
}

.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.about__majors {
  display: flex;
  margin: 40px 0;
  justify-content: space-evenly;
}

.major__icon {
  width: 90px;
  height: 90px;
  line-height: 90px;
  font-size: 30px;
  text-align: center;
  margin: auto;
  color: var(--color-hlgt-text);
}

.major__icon i {
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  transform: scale(1.2);
}

.major__title {
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  border-bottom: 2px solid var(--color-hlgt2-text);
}

.major__description {
  font-size: var(--font-micro);
  margin-top: 15px;
}

/*.job img {
  width: 50px;
}

.job {
  display: flex;
  align-items: center;
  justify-content: center;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.school__period {
  color: var(--color-black);
  font-size: var(--font-micro);
}

.school__name {
  color: var(--color-black);
  font-size: var(--font-small);
}*/
